body {
    color: #ffffff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

section {
    padding: 2vh;
}
/*Components of header*/
header {
    background-color: #FF577F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
    position: relative;
    z-index: 2;
}

#profile-pic {
    display: flex;
    align-items: center;
}

#profile-pic > img {
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    object-fit: cover;
}

#profile-pic > span {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 4em;
    padding-left: 0.5em;
}

#menu-btn {
    padding: 2vh;
    background-color: #FF884B;
    border-radius: 1vh;
    position: absolute;
    right: 2vh;
    top: 4vh;
    display: none;
}

#menu-checkbox {
    display: none;
}

#menu-content {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    list-style-type: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#menu-content li {
    margin: 0 1vh;
}

#menu-content a:-webkit-any-link {
    text-decoration: none;
    color: #000000;
}

#menu-content a:hover {
    color: #ffffff;
}

/*Components for Story section*/
#Story {
    background-color: #FF884B;
    display: block;
    position: relative;
    z-index: 1;
}

.article-select-radio {
    display: none;
}

.article-select {
    position: absolute;
    padding: 1vh 2vh;
    right: 2vh;
    bottom: 2vh;
    border: 1px solid #000000;
    border-radius: 1vh;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #000000;
}

#page1 {
    right: 32vh;
}

#page2 {
    right: 22vh;
}

#page3 {
    right: 12vh;
}

.article-select:active {
    font-weight: 700;
}

.story-card {
    background-color: #FEFAE0;
    border-radius: 2vh;
    padding: 2vh;
    margin-bottom: 6vh;
    min-height: 30vh;
    color: #000000;
    box-shadow: 3px 3px 2px 2px rgba(200, 200, 200, 0.5);
    display: none;
}

.section-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    color: #000000;
    text-shadow: 0.25em 0.25em 0.25em rgba(46, 91, 173, 0.6);
}

.story-card > img {
    height: 30vh;
    width: 40vh;
    object-fit: cover;
    border-radius: 2vh;
    margin-left: 2vh;
    float: right;
}

.article-title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
}

.story-card p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

.article-select-radio:checked + .story-card {
    display: block;
}

/*components of Work section*/
#Work {
    background-color: #FFD384;
    display: flex;
    flex-wrap: wrap;
}

.work-card {
    margin: 2vh;
    background-color: #FF884B;
    padding: 2vh;
    border-radius: 2vh;
    min-height: 30vh;
    flex: 1 1 40vw;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.work-card:-webkit-any-link {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

#marketing {
    flex: 1 1 100vw;
}

.work-card-content {
    display: block;
    padding: 2vh;
    border-radius: 2vh;
    background-color: rgba(255, 255, 255, 0.6);
}

.skill {
    border: 2px solid rgba(0, 0, 0, 1);
    padding: 0.5vh;
    border-radius: 0.8vh;
    margin-right: 1vh;
}

/*Contact section*/
#Contact {
    background-color: #FFF9B0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts {
    display: flex;
}

.contact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    margin-right: 1em;
}

.contact:-webkit-any-link {
    text-decoration: none;
    color: #000000
}

.contact:hover {
    color: grey
}

/*responsive design*/
@media screen and (max-width: 1200px) {
    #profile-pic {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #profile-pic > img {
        height: 8vh;
        width: 8vh;
    }

    #profile-pic > span {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 1024px) {
    #menu-content {
        display: none;
    }

    #menu-btn {
        display: block;
    }

    #menu-content>li {
        margin: 0;
        display: block;
    }

    #menu-checkbox:checked + #menu-content {
        display: block;
        position: absolute;
        right: 2vh;
        padding: 2vh;
        background-color: rgba(240, 240, 240, 0.4);
        border-radius: 1vh;
    }

    #menu-btn:active {
        background-color: #FFD93D;
        color: #FF577F;
    }

}

@media screen and (max-width: 768px) {
    body {
        font-size: 12px;
    }

    .story-card > img {
        float: none;
        margin: 0;
    }
}

@media screen and (max-width: 375px) {
    .article-select {
        padding: 0.5vh 1vh;
    }

    #page1 {
        right: 26vh;
    }
    
    #page2 {
        right: 18vh;
    }
    
    #page3 {
        right: 10vh;
    }
}